* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #95f603;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 50px auto 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #444444;
  color: #ff9500;
  line-height: 1.5;
  font-size: 20px;
  margin: 30px;
}

input {
  padding: 8px;
  font: inherit;
  background-color: #e9f2b0;
}

button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: #bbf9d6;
}
